
*{
    margin:0;
    padding:0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom right, white 0%, #9dd3fd 10%, #1875bf 45%, #012643 100%);
}

img{
    width: 100%;
}
button{
    border-radius: 3px;
    padding: 2px 5px;
    cursor:pointer;
    font-family: Arial,sans-serif;
}
.btn {
    background: #03a9f4;
    color: white;
    border: 1px solid #1b89e1;
    /* width: 50px; */
    min-width: 40px;
    transition: 0.3s all;
    text-wrap: nowrap;
}
.btn:hover {
    background: #5eb4f9;
    color: #fef287;
}
.dbtn.btn_active, 
.btn_active {
    background: #ff0000!important;
    border: 1px solid #c20000;
    color: #ffffff;
}

.btn_active:hover {
    background: #ff4343;
    /* color: #fef287; */
}
.btn_inactive {
    background: #aaa8a8;
    color: #ffffff;
}

#wr_init {
    display: flex;
    justify-content: space-between;
    background: #dbdbdb;
    border: 1px solid grey;
}
#wr_nav {
    display: flex;
    justify-content: space-between;
    background: #bacdba;
    border: 1px solid #879787;
}
#wr_slides {
    display: flex;
    justify-content: flex-start;
    background: #9af69a;
    border: 1px solid #61b661;
    gap: 5px;
    flex-wrap: wrap;
}

#wr_init,
#wr_nav,
#wr_slides{
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}