
*{
    margin:0;
    padding:0;
}

body {
    margin: 0 auto;
    padding: 0;
    background: linear-gradient(to bottom right, white 0%, #9dd3fd 10%, #1875bf 45%, #012643 100%);
    color: white;
    height: 100%;
    font-family: 'Roboto Slab',Arial,Tahoma, 'sans serif';
    width: 100%;
    /* overflow: hidden; */
}



#header {
    background: black;
    position: fixed;
    top: 0px;
    width: 100%;
    color: white;
    overflow: hidden;
    z-index: 1;
}
#main {
    position: relative;
    /* background: #851313; */
    background: linear-gradient(to bottom right, white 0%, #9dd3fd 10%, #1875bf 45%, #012643 100%);
    margin: 0;
    /* overflow: hidden;*/
}
#sidebar {
    width: 30%;
    display: block;
    overflow: hidden;
    /* background: #00000040; */
    /* border-radius: 0 0 5px 5px; */
}
.bl_head,
.actual_head
 {
    background: black;
    border-radius: 5px 5px 0 0;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #252525;
}

.side_body {
    /* background: #8BC34A; */
    height: 780px;
    overflow: auto;
    background: #00000040;
    border-radius: 0 0 5px 5px;
}


#nextslide {
    width: 70%;
    display: block;
    overflow: hidden;
    /* background: #246fa4; */
    /* border-radius: 0 0 5px 5px; */
}

.next_body {
    /* background: #600b0b; */
    height: 780px;
    overflow: auto;
    /* background: #00000040; */
    background: #246fa4;
    border-radius: 0 0 5px 5px;
}

#main_inner{
    padding: 5px;
}

#section1{
    /* background: orange; */
}

.section_inner {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
}

#section2{
    /* background: purple; */
}

#footer {
    background: #1875bf;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
}

#actualslide{
    margin: 0 auto;
}



.bg_show {
    background: #000000;
    background-size: contain !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    transition: background-image 1s ease-in-out;
}

#body_nav,
#body_show {
    background: black;
}



img{
    width: 100%;
}
button{
    border-radius: 3px;
    padding: 2px 5px;
    cursor:pointer;
    font-family: Arial,sans-serif;
}
.btn {
    background: #03a9f4;
    color: white;
    border: 1px solid #1b89e1;
    /* width: 50px; */
    min-width: 40px;
    transition: 0.3s all;
    text-wrap: nowrap;
}
.btn:hover {
    background: #5eb4f9;
    color: #fef287;
}
.btn_active {
    background: #ff0000!important;
    border: 1px solid #c20000;
    color: #ffffff;
}
.sld_active {
    outline: 5px solid red;
    color: #ffffff;
    box-shadow: 0 0px 15px 10px #000000;
}

.btn_active:hover
{
    background: #ff4343;
    /* color: #fef287; */
}
.btn_inactive {
    background: #aaa8a8;
    color: #ffffff;
}



#wr_nav {
    display: flex;
    justify-content: space-around;
    /* background: #bacdba; */
    /* border: 1px solid #879787; */
    align-items: center;
}

#wr_btns_slides {
    display: flex;
    background: #99c7ec;
    border: 1px solid #87b8df;
    gap: 5px;
    flex-wrap: nowrap;
    overflow-y: auto;
    flex-direction: row;
    justify-content: left;
}

#wr_lista_slides {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    gap: 10px;
    width: 33vw;
    /* overflow: auto; */
}

#wr_nav,
#wr_btns_slides{
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}


#wr_vista_actual {
    
}

#wr_lista_slides {
    /* border: 3px solid transparent; */
    /* width: auto; */
    margin: 5px;
    height: calc(64vw*0.5625);
    min-width: 200px;
    margin-top: calc(3vh + 1px);
    background: #00000040;
    position: relative;
    border-radius: 5px;
}

.lista_inner {
    margin: auto;
    padding: 25px 5px;
    overflow: auto;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
    
#wr_vista_next {
    width: 100%;
    min-width: 160px;
    min-height: 90px;
    border-radius: 0 0 5px 5px;
}

#wr_vista_actual {
    width: calc(640px * 1);
    height: calc(360px * 1);
    min-width: 160px;
    min-height: 90px;
    border-radius: 0 0 5px 5px;
}

.centralPart {
    width: 80%;
    /* background: orange; */
    display: flex;
    align-content: center;
    justify-content: space-around;
}

#sel_tema {
    width: 30%;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    background: #c6eafa;
}


.sld {
    background-color: black;
    width: 25vw;
    height: calc(25vw*0.5625);
    border-radius: 3px;
    margin-bottom: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.sld_inner {
    padding: 20px;
    
    transform: scale(0.25);
    transform-origin: left top;
    width: 400%;
}




#contenedor_show {
    background: black;
    /* margin: 20px; */
    /* background: green; */
    width: calc(100vh/0.5625);
    height: calc(100vh*1);
    /* width: 640px; */
    /* height: 360px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-image: url("../temas/tema2/preview_slide_1.jpg"); */
    background-size: contain;
}






.sld_inner,
.vista_inner
{
    /*h1{
        font-size: 24px;
    }
    p {
        font-size: 12px;
    }
    */
}

#goPrev,
#goNext {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.btn_long {
    width: 140px;
    height: 40px;
}
.btn_ini_fin {
    width: 80px;
    height: 40px;
}


.btn_round {
    border-radius: 50%;
    min-width: 40px;
    min-height: 40px;
}

.btn,
.sld
{
    cursor: pointer;
}


#wr_vista_next,
#wr_vista_actual,
#contenedor_show,
.sld
{
    /*background: purple;*/
}

.slide_body {
    width: 100vw;
    height: calc(100vw*0.5625);
    outline: 0.5vw solid green;
    overflow: hidden;
    margin: 0vw auto;
    overflow: auto;
    background: #000000;
}

.slide_body{
/**/
}

.slide_body_inner {
    /* background: brown; */
    margin: 20px;
}

#btn_fullscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    
    img{
        width: 24px;
        height: 24px;
    }
}

.fon_purple {
    background: #673AB7;
    border: 1px solid #441a8f;
}
.fon_purple:hover {
    background: #8956e0;
}

.fon_red {
    background: red;
    border: 1px solid brown;
}
.fon_red:hover {
    background: rgb(243, 67, 67);
}



#btn_fullscreen_show {
    border-radius: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 7px;
}
#btn_fullscreen_show img{
    width: 30px;
    height: 30px;
}
.btn_hidden {
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: 0.3s;
}
.btn_hidden:hover{
    opacity: 0.2;
}